*{
    margin:0;
    padding:0;
}
body{
    font-family: 'poppins','sans-serif';
    background:rgb(250, 234, 250);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}
 h1{
    text-align:center;
    margin-top:50px;
}
.color-picker {
    display:block;
    width:60px;
    height:30px;
    margin:20px auto;
    border-radius:5px;
    cursor:pointer;
    background:transparent;
    text-align:center;
}
.color-display {
    display:block;
    width:300px;
    height:200px;
    margin:0 auto;
    margin-top:20px;
    background:initial;
    border:2px solid black; 
}
.color-code{
    display:block;
    font-size:20px;
    font-weight:500;
    margin-top:20px;
    color:#333;
    text-align:center;
}
